{{ ansible_managed | comment }}
server {
    listen {{ code_server_port }};
    listen [::]:{{ code_server_port }};

    location / {
        proxy_pass http://127.0.0.1:8081/;
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection upgrade;
        proxy_set_header Accept-Encoding gzip;
        proxy_redirect off;
    }
}
